{% extends "base.html" %}

{% load static %}

{% block title %}Записи{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/calendarr.css' %}">
<link rel="stylesheet" href="{% static 'css/appointments_page2.css' %}">
{% endblock %}

{% block content %}
<div class="content" style="height: 800px;">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
         style="width: 30%; height: 100%;">
        {% if clicked %}
        <a href="{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date={{ filt_date }}"
           class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">&#8592; Вернуться</span>
        </a>

        <div class="list-group list-group-flush border-bottom scrollarea">
            {% if sel_app %}
            <p>Запись на {{ sel_app.date|date:"d F Y H:i" }}</p>
            <p>Врач: {{ sel_app.doctor }}</p>
            <p>Цель визита: {{ sel_app.target }}</p>

            {% else %}
            <p>Записей на этот день нет</p>
            {% endif %}
        </div>

        {% else %}
        <div style="display: flex; justify-content: space-between;">
            <h3 class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                Список ваших записей</h3>
            <div style="display: flex;">
                {% if appointments.has_previous %}
                <button style="background-color: transparent; border: none;"
                        onclick="window.location.href='{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date={{ filt_date }}&page={{ appointments.previous_page_number }}'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"
                         fill="currentColor">
                        <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
                    </svg>
                </button>

                {% else %}
                <button disabled style="background-color: transparent; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"
                         fill="currentColor">
                        <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
                    </svg>
                </button>
                {% endif %}

                {% if appointments.has_next %}
                <button style="background-color: transparent; border: none;"
                        onclick="window.location.href='{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date={{ filt_date }}&page={{ appointments.next_page_number }}'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"
                         fill="currentColor">
                        <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                    </svg>
                </button>

                {% else %}
                <button disabled style="background-color: transparent; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"
                         fill="currentColor">
                        <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
                    </svg>
                </button>
                {% endif %}
            </div>

        </div>

        <div class="list-group list-group-flush border-bottom scrollarea">
            {% include "cal_filter.html" %}

            {% if appointments|length == 0 %}
            <h3 style="color: #ddd; text-align: center; margin-top: 50%; border-bottom: none;">
                Записи с заданными параметрами отсутствуют
            </h3>
            <a href="{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date=">
                <button style="position: relative; left: 50%; transform: translate(-55%, 0);"
                        class="btn btn-outline-primary">Посмотреть все
                </button>
            </a>

            {% else %}
            {% for app in appointments %}
            <a href="{% url 'clinic:appointments' %}?year={{ app.date.year }}&month={{ app.date.month }}&day={{ app.date|date:'d' }}&app_id={{ app.id }}&clicked=True&show={{ show }}&filt_date={{ filt_date }}"
               class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">Запись на {{ app.date|date:"d F Y" }}</strong>
                    <small class="text-body-secondary">{{ app.date | date:"D" }}</small>
                </div>
                <div class="col-10 mb-1 small" style="display: flex;">
                    {% if app.date|date:"Y n j H i s" >= now|date:"Y n j H i s" %}
                    <div class="circle-green"></div>

                    {% else %}
                    <div class="circle-gray"></div>
                    {% endif %}

                    {{ app.target }}
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% include "calendar.html" with calendar=calendar sel_date=sel_date %}
</div>

{% endblock %}
