<div class="top border-bottom" style="margin-bottom: 2%;">
    <select class="form-select" style='width: 40%;' name="" id="" onchange="window.location.href = window.location.pathname +
    '?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked={{ clicked }}'
     + '&show=' + this.value + '&filt_date={{ filt_date }}';">
        <option value="0">Все</option>
        <option value="1">Активные</option>
        <option value="2">Завершённые</option>
    </select>

    <div style="display: flex; justify-content: space-between;">
        {% if appointments.has_previous %}
        <button
                onclick="window.location.href='{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date={{ filt_date }}&page={{ appointments.previous_page_number }}'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
            </svg>
        </button>

        {% else %}
        <button disabled>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                <path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path>
            </svg>
        </button>
        {% endif %}

        <p>{{ appointments.number }} из {{ appointments.paginator.num_pages }}</p>
        {% if appointments.has_next %}
        <button
                onclick="window.location.href='{% url 'clinic:appointments' %}?year={{ sel_date.year }}&month={{ sel_date.month }}&day={{ sel_date.day }}&clicked=False&show={{ show }}&filt_date={{ filt_date }}&page={{ appointments.next_page_number }}'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
            </svg>
        </button>

        {% else %}
        <button disabled>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
            </svg>
        </button>
        {% endif %}
    </div>

</div>

<script>
    const selectElement = document.querySelector('select');
    const selectedOption = {{ show }};
    selectElement.value = selectedOption;
</script>
