<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Навигация</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'clinic:index' %}" class="nav-link p-0 text-body-secondary">Главная</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'clinic:faq' %}" class="nav-link p-0 text-body-secondary">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'clinic:about' %}" class="nav-link p-0 text-body-secondary">О нас</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Мы в соцсетях</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Вконтакте</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Телеграм</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Одноклассники</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Наш ютуб канал</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">RuTube</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Подпишитесь на нашу рассылку</h5>
                    <p>Так вы будете узнавать о скидках, акциях. Обещаем не спамить!</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Электронная почта</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Ваш адрес электронной почты">
                        <button class="btn btn-primary" type="button">Подписаться</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2024 Dent Clinic, Inc</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#">
                    <svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a></li>
            </ul>
        </div>
    </footer>
</div>
