{% extends "base.html" %}

{% load static %}

{% block title %}{{ service.name }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <a href="{% url 'clinic:services_list' %}"><input class="return_btn" value="Вернуться" type="button"></a>
    {% if sent %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 1%;">
        Вы успешно записались на приём. Подтверждение отправлено на вашу почту
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <h2 class="pb-2 border-bottom">{{ service.name }}</h2>

    <div class="top">
        <img src="{{ service.service_image.get.image.url }}" class="image">

        <div>
            <h3>{{ service.price }}&#8381;</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    style="height: 60px; width 150px;">
                Записаться на приём
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Записаться на приём</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="submit" value="Записаться" class="btn btn-primary">
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="pb-3 border-bottom" style="margin-top: 20px;">Об услуге</h3>
    <h5>{{ service.description }}</h5>

    <h2 style="margin-top: 3%; border-bottom: 1px solid #ccc; padding-bottom: 1%;">Отзывы о товаре</h2>
    <a href="{% url 'clinic:post_comment' service.slug %}"><input class="btn btn-primary" value="Написать отзыв" type="button"></a>

    {% if comment|length == 0 %}
    <h3 align="center" style="color: #ddd">Отзывов нет</h3>
    {% else %}
    {% for comment in comments %}
    <div class="comment_box">

        <div class="user-info">
            <p>{{ comment.name }}</p>
        </div>
        <div class="review-info">
            <p class="date">{{ comment.created }}</p>
            <div class="rating">
                {% for star in service.rating %}
                <span class="star">⭐</span>
                {% endfor %}
            </div>
            <p class="content">{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
