.content {
    margin: 10px;
    display: flex;
}

.calendar {
    width: 70%;
    height: 100%;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}
