.return_btn {
    background-color: #f2efeb;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.content {
    margin: 0;
    padding: 0px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
}

.image {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repat: no-repeat;
}

.top {
    display: flex;
    justify-content: space-between;
}

.about ul {
    color: #91918e;
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold
}

.comment_box {
    border-radius: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 1%;
}

.date {
    font-weight: normal;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
