.return_btn {
    background-color: #f2efeb;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.content {
    margin: 0;
    padding: 0px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
}

.image {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.about ul {
    color: #91918e;
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold
}
